@import url('https://fonts.cdnfonts.com/css/lucida-unicode-calligraphy');
p,div,span{
    font-family: 'Lucida Unicode Calligraphy', sans-serif;
}
div h1{
    text-align: center;
}
body{
    margin: 0;
}
